*{
    margin: 0px;
    padding: 0px;
}
.container{
    text-align: center;
    border: 5px solid gray;
  
}
.position{
    margin: 10px;
    padding: 90px;
    display:flex;
    justify-content: space-around;

}
 .navbar {
    width: 100%;
    height: 20px;
    background-color: aqua;
    padding:  30px;
    text-align: center;
    word-spacing: 30px;
    position:sticky;
    top: 0px;
    z-index: 2;
} 
.home li{
    display: inline-block;
    

}
#lorem{
    margin: 10px;
    text-indent: 10px;


}

   



